<!DOCTYPE html>
<html>
	<head>
		<title>Photo Gallery</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	
	<body ng-app="photoGallery">
		
		<div class="container">
		
		<div ng-include="'angular-app/components/navbar.html'"></div>
		
		<ui-view></ui-view>
		
		</div>
	
		<script src="angular-app/app.js"></script>
		<script src="angular-app/auth.js"></script>
		<script src="angular-app/albums.js"></script>
		<script src="angular-app/settings.js"></script>
		<script src="angular-app/components/albums.controller.js"></script>
		<script src="angular-app/components/navbar.controller.js"></script>
		<script src="angular-app/components/auth.controller.js"></script>
		<script src="angular-app/components/settings.controller.js"></script>
		
		<script src="angular-app/components/file-upload.js"></script>
	</body>
</html>
