
<div class="col-sm-3 col-md-2 sidebar-offcanvas">
	<ul class="nav nav-sidebar">
		<li ng-repeat="album in albums" ng-class="{active: isCurrent(album)}">
			<a href="/#/albums" ng-click="setCurrent(album)">{{album.name}}</a>
		</li>
	</ul>
</div>

<div class="col-sm-9 col-md-10 main container">
	<div class="row">
		<div ng-repeat="photo in photos" class="col-xs-6 col-md-3">
			<a href="/#/albums" class="thumbnail"><img ng-src="{{photo.url}}" alt="{{photo.name}}"></a>
			<a href="/#/albums" ng-show="canWrite()" ng-click="deletePhoto(photo.name)"><span class="glyphicon glyphicon-remove" style="position: absolute; padding: 10px; color: red"></span></a>
		</div>
	</div>

	<div class="row text-center" ng-show="canWrite()">
		<h1>
			<div ngf-drop ng-model="files" ngf-drag-over-class="dragover"
				ngf-multiple="true" ngf-allow-dir="true" ngf-accept="'.jpg,.png'"
				style="border: 5px dashed #DDD;" class="jumbotron">Drop Images
				here</div>
			<div ngf-no-file-drop class="jumbotron dragbox">File Drag/Drop
				is not supported for this browser</div>
		</h1>
	</div>
	<style>
		.dragover {
			border: 5px dashed #CCC !important;
			background: #DDD !important
		}
		.dragbox {
			border: 5px dashed #DDD;
		}
	</style>
</div>
