<div class="page-header">
	<h1>Read Me!</h1>
</div>

<div>
	<h3>Introduction</h3>

	<p>
		This is a basic photo gallery site implemented using:
		<ul style="list-style-type:circle">
			<li>Angular.js for client side</li>
			<li>Node.js & express for server side</li>
			<li>Azure & MongoDB as storage</li>
		</ul>
	</p>
	<p>
		The implemented functionality is:
		<ul style="list-style-type:circle">
			<li>Creating a new user using the "Register" option from the toolbar</li>
			<li>Logging in with already existing user using the "Log In" option from the toolbar</li>
			<li>Creation of new album using the toolbar input field and pressing the + button - Only when logged in</li>
			<li>Navigating between the albums and settings screens using the two buttons on the right of "+" button - Only when logged in</li>
			<li>Viewing and navigating the list of albums you are allowed to see (have read permissions) - Only when logged in</li>
			<li>Editing albums you are allowed to edit (have write permissions) - Only when logged in</li>
			<li>Adding photos & directories of photos using the drag and drop area</li>
			<li>Deleting photos by pressing on the "X" button appear on the left upper corner of each photo</li> 
			<li>Deletion album threw the album settings screen (have write permissions) - Only when logged in</li>
			<li>Editing album permissions threw the album settings screen (have write permissions) - Only when logged in</li>
		</ul>
	</p>
	<p>
		Notice that performance can be a bit slow because of the slow Azure blob interface specially when uploading big amount of photos - The
		express server can be a bit stuck while uploading photos to the Azure storage and all clients will be pending.
		As far as I understood during building this web-app is that better approach could be using Azure services directly from client side app 
		(Angular in my case) without sending them first to the server and letting the server to upload it to the service, but it seems that 
		Microsoft didn't yet thought about this approach. I think it can be easily implemented for client side using the interfaces Microsoft
		providing for Node as both are javascript - may be interesting to investigate this approach.  
	</p>
	
	<h3>Demo</h3>

	<p>
		There are currently two users: "dima" & "test user", The test user password is "test user".
		There are currently two albums created by "dima" user: "scuba" & "shared".
		"shared" album can be both seen and edited by "test user".
		"scuba" album can only be seen by "test user" but test user can't edit it - notice that the drop area, the "X" button and the permission grid check boxes are all hidden.
		"dima" user could also create an album not giving read permissions to any other user what will actually create a private album.
	</p>
</div>