<nav class="navbar navbar-default" ng-controller="NavbarCtrl">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/#/" class="navbar-brand">Photo Gallery</a>
		</div>
		<div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
					<a ng-href="{{item.link}}">{{item.title}}</a>
				</li>
				<li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">
					<a href="/admin">Admin</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li ng-show="isLoggedIn()"><a>{{ currentUser().username }}</a></li>
				<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
				<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
				 <!-- <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li> -->
			</ul>
			<form ng-show="isLoggedIn()" ng-submit="create()" class="navbar-form navbar-left" role="search">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="album.name"/>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
					</span>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-left">
				<li ng-show="isLoggedIn()"><a href="/#/albums"><span class="glyphicon glyphicon-picture"></span></a></li>
				<li ng-show="isLoggedIn()"><a href="/#/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
			</ul>
			
		</div>
	</div>
</nav>