
<div class="panel panel-default">

	<!-- Default panel contents -->
	<div class="panel-heading">Permissions of {{album.name}} album
		<button style="float: right" ng-show="canWrite()" ng-click="deleteAlbum()">Delete Album</button>
	</div>

	<!-- Table -->
	<table class="table table-bordered">
		<tr>
    		<th>User Name</th>
    		<th>Is Owner</th>
    		<th>Can Read</th>
    		<th>Can Write</th>
    	</tr>
    	<tr ng-repeat="user in users_permissions">
    		<td>{{user.username}}</td>
    		<td><input type="checkbox" ng-disabled="true" ng-model="user.is_owner"></td>
    		<td><input type="checkbox" ng-show="canWrite()" ng-disabled="user.is_owner" ng-model="user.can_read" ng-change="changeReadPermission(user)"></td>
    		<td><input type="checkbox" ng-show="canWrite()" ng-disabled="user.is_owner" ng-model="user.can_write" ng-change="changeWritePermission(user)"></td>
    	</tr>
	</table>
</div>